{% extends "layout.html" %}
{% set current_page = 'list_logs' %}
{% set token = request.view_args.token|default(None) %}
{% block title %}
发送记录{% if token %} (部分){% endif %}
{% endblock %}
{% block content %}
<div id="title">
    <h2>{{ self.title() }}</h2>
    {% if token %}<a href="{{ url_for('list_logs') }}">« 返回</a>{% endif %}
    <span>共<strong>{{ count }}</strong>项</span>
</div>
<ul id="stream">
    {% for log in logs %}
    <li id="log_{{ log.id }}" class="log">
        <p>{{ log.status|e }}</p>
        <span class="info {{ log.result }}">
            <span class="time" time="{{ log.exec_time }}"></span>
            {% if log.result == 'success' %}
            发送成功
            {% elif log.result == 'accepted' %}
            已发送
            {% elif log.result == 'timeout' %}
            发送超时
            {% elif log.result == 'unauthorized' %}
            未能通过身份认证
            {% elif log.result == 'other' %}
            可能没有发送成功
            {% endif %}
            {% if log.count|default(1) > 1 %}
            <a href="{{ url_for('list_logs', token=log.token, result=log.result) }}">
                ({{ log.count }}条相似)
            </a>
            {% endif %}
        </span>
    </li>
    {% endfor %}
</ul>
{%- from 'widgets.html' import pagebar -%}
{%- set total_page = (count / config['LOGS_PER_PAGE'])|round(0, 'ceil')|int -%}
{{ pagebar('list_logs', request.view_args, total_page) }}
{% endblock %}
