{% extends "layout.html" %}
{% set current_page = 'new_plan' %}
{% block title %}添加新的计划{% endblock %}
{% block head %}
    {{ super() }}
    {%- from 'widgets.html' import jqueryui -%}
    {{ jqueryui() }}
    <script type="text/javascript" src="{{ url_for('static', filename='plans.js') }}"></script>
{% endblock %}
{% block content %}
<div id="title">
    <h2>{{ self.title() }}</h2>
    <span>可以输入<strong>140</strong>字</span>
</div>
<div id="new_plan">
    {%- from 'widgets.html' import planform with context -%}
    {{ planform(url_for('new_plan'), '添加计划') }}
</div>
{% endblock %}
