{% extends "layout.html" %}
{% set current_page = 'list_plans' %}
{% block title %}进行中的计划{% endblock %}
{% block head %}
    {{ super() }}
    {%- from 'widgets.html' import jqueryui -%}
    {{ jqueryui() }}
    <script type="text/javascript" src="{{ url_for('static', filename='plans.js') }}"></script>
{% endblock %}
{% block content %}
<div id="title">
    <h2>{{ self.title() }}</h2>
    <span>共<strong>{{ count }}</strong>项</span>
</div>
<ul id="stream">
    {% for plan in plans %}
    <li id="plan_{{ plan.id }}" plan_id="{{ plan.id }}">
        <p>{{ plan.status|e }}</p>
        <span class="info">
            将于 <span class="time" time="{{ plan.time }}" timeoffset="{{ plan.timeoffset }}"></span>
            {% if plan.period %}
                以及接下来
                <span class="period" period="{{ plan.period }}"></span>
            {% endif %}
            发送 |
            <span class="priority" priority="{{ plan.priority }}"></span>
            <span class="timeout" timeout="{{ plan.timeout }}"></span>
            <a href="#" class="edit">编辑</a> |
            <a href="#" class="delete">删除</a>
        </span>
    </li>
    {% endfor %}
</ul>
<div id="edit_plan" title="编辑计划">
    {%- from 'widgets.html' import planform with context -%}
    {{ planform(url_for('edit_plan'), '修改计划', True) }}
</div>
<form action="{{ url_for('delete_plan') }}" method="POST" id="form_delete">
    <input type="hidden" name="id" />
    <input type="hidden" name="token" value="{{ session.post_token }}" />
</form>
{% from 'widgets.html' import pagebar %}
{%- set total_page = (count / config['PLANS_PER_PAGE'])|round(0, 'ceil')|int -%}
{{ pagebar('list_plans', request.view_args, total_page) }}
{% endblock %}
