{%- macro pagebar(view, kwargs, total) -%}
    {%- set cur = kwargs.page|default(1) -%}
    {%- set args = kwargs|remove_page -%}
    {% if total > 1 %}
    <ol class="paginator">
        {%- if cur != 1 %}
        <li><a href="{{ url_for(view, page=cur - 1, **args) }}">上一页</a></li>
        {%- endif -%}
        {%- for i in range(1, total + 1) %}
        <li{% if cur == i %} class="current"{% endif %}><a href="{{ url_for(view, page=i, **args) }}">{{ i }}</a></li>
        {%- endfor -%}
        {%- if cur != total %}
        <li><a href="{{ url_for(view, page=cur + 1, **args) }}">下一页</a></li>
        {%- endif %}
    </ol>
    {% endif %}
{%- endmacro -%}

{%- macro jqueryui() -%}
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-ui-datepicker-zh-CN.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/jquery-ui.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-ui-timepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-ui-timepicker-zh-CN.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/jquery-ui-timepicker.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='pickers.js') }}"></script>
{%- endmacro -%}

{%- macro planform(action, btn_text, id=False) -%}
    <form action="{{ action }}" method="POST">
        <textarea name="status" rows="3"></textarea>
        <input type="submit" value="{{ btn_text }}" />
        <ul id="basic_params">
            <li><a href="#" class="date"></a></li>
            <li><a href="#" class="time"></a></li>
            <li><a href="#" class="timezone"></a></li>
        </ul>
        <a id="advanced_params_trigger" href="#">高级选项</a>
        <ul id="advanced_params">
            <li><a href="#" class="period"></a></li>
            <li><a href="#" class="priority"></a></li>
            <li><a href="#" class="timeout"></a></li>
        </ul>
        <div class="datepicker picker"></div>
        <div class="timepicker picker"></div>
        <div class="tzpicker picker"></div>
        <div class="intpicker picker"></div>
        <div class="pripicker picker"></div>
        <div class="topicker picker"></div>
        {% if id %}<input type="hidden" name="id" />{% endif %}
        <input type="hidden" name="date" />
        <input type="hidden" name="time" />
        <input type="hidden" name="timezone" />
        <input type="hidden" name="period" value="0" />
        <input type="hidden" name="priority" value="0" />
        <input type="hidden" name="timeout" value="10" />
        <input type="hidden" name="token" value="{{ session.post_token }}" />
    </form>
{%- endmacro -%}
